/*intro page*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

.header {
    width: 100%;
    height: 100vh;

    padding: 20px;
    font-family: "Inconsolata", Arial, Helvetica, sans-serif;
    font-size: xx-large;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#_World {
    padding: 3%;
    border-radius: 20% / 50%;
    font-family: "Inconsolata", Arial, Helvetica, sans-serif;
    font-size: large;
    display: block;
    margin: 0 auto;
}

/*page 1*/

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.flex-container::after {
    content: "";
    clear: both;
    display: block;
}

.flex-item {
    width: 500px;
    height: 150px;
    background-color: #8bf7ff;
    margin: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex-item h2 {
    font-family: "Mirza", Arial, Helvetica, sans-serif;
    font-size: 60px;
    align-items: left;
}

.flex-item h3 {
    font-family: "Jacquarda Bastarda 9", Arial, Helvetica, sans-serif;
    font-size: 35px;
    align-items: right;
}

.grid-container p {
    font-family: "Nova Cut", Arial, Helvetica, sans-serif;
}